.element__button-trash {
  background-image: url(../../../images/Trash.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
  flex-shrink: 0;
  height: 19px;
  position: absolute;
  right: 20px;
  top: 20px;
  transition: opacity .3s ease;
  width: 18px;
  background-color: transparent;
}

.element__button-trash:hover {
  opacity: 0.5;
}