.element__button-like_active {
  background-image: url(../../../images/active.svg);
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
  background-color: transparent;
  min-width: 22px;
  min-height: 19px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.element__button-like_active:hover {
  opacity: 0.5;
}