@media screen and (max-width: 879px) {
  .header__logo {
    margin: 0 0 0 30px;
  }
}


@media screen and (max-width: 656px) {
  .header__logo {
    margin: 28px 0 31.6px 27px;
    min-height: 74px;
    max-width: 103.74px;
    min-height: 24.4px;
  }
}