.profile__add-button {
  width: 150px;
  min-height: 50px;
  border: 2px solid #fff;
  background-color: black;
  box-sizing: border-box;
  align-self: center;
  background-image: url(../../../images/Vector2.svg);
  background-position: 50%;
  background-repeat: no-repeat;
  border-radius: 2px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  opacity: 1;
  transition: opacity 1s ease-in;
}

.profile__add-button:hover {
  opacity: 0.5;
}

@media screen and  (max-width: 879px) {
  .profile__add-button {
    margin: 0 30px 0 0;
  }
}

@media screen and (max-width: 656px) {
  .profile__add-button {
    margin: 36px 0 0;
    width: 282px;
    background-size: 16px 16px;
  }
}
