.popup__close-icon {
  position: absolute;
  background-image: url(../../../images/Close\ Icon.svg);
  width: 32px;
  min-height: 32px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: 0;
  cursor: pointer;
  top: -38px;
  right: -38px;
  background-color: rgba(0, 0, 0, 0);
}

@media screen and (max-width: 508px) {
  .popup__close-icon {
    width: 20px;
    height: 20px;
    right: 0;
  }
}