.footer {
  max-width: 318px;
  min-height: 18px;
  margin: 67px auto 0 0;
}

@media screen and (max-width: 879px) {
  .footer {
    margin: 67px auto 0 30px;
  }
}

@media screen and (max-width: 656px) {
  .footer {
    margin: 67px auto 0 19px;
  }
}